@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: Menlo, sans-serif;
  background: #333333;

  .form-group {
    background: #7d7dd5;
    border-radius: 10px;

    h5 {
      color: white;
    }

    .btn-primary {
      background: #333333;
    }
  }

  .search-page {
    h2 {
      background-color: #3859b2;
      color: white;
      font-size: 3.5rem;
      font-weight: 600;
      padding: 10px 30px;

      span {
        font-weight: 400;
      }
    }

    label {

    }

    .results > p {
      margin-top: 100px;
      color: white;
    }
  }

  .error-page {
    position: fixed;
    background: black;
    top: 20%;
    left: 25%;

    h3 {
      font-size: 2.5rem;
      color: red;
    }

    a {
      font-size: 1.5rem;
      color: white;
    }

  }

  h1 {
    background-color: #3859b2;
    color: white;
  }

  .card {
    .card-header {
      color: white;
      background: #3859b2;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .img-large {
      max-width: 50%;
      height: auto;
      display: block;
      @media (min-width: 540px) {
        max-width: 40%;
        float: left;
      }
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
    }

    .full {
      text-indent: 30px;
      white-space: normal;
      overflow: auto;
      text-align: justify;
    }
  }

  .btn {
    color: white;
    background: #7d7dd5;
  }

  a {
    color: white;
  }

  .card-header {
    border-radius: 10px;
  }

  .card {
    background: #7d7dd5;
    border-radius: 10px;
  }

  #commentsSection {
    .btn {
      background: #333333;
      border: blue;
    }

    .btn:hover {
      background: maroon;
    }
  }

  .comment {
    background: #1f51a1;
  }
}



